<footer class="footerNavigationMenu">
    <div class="footer-inner">
        <p>&copy; 2026 Aruphy.K. All Rights Reserved.</p>
        <nav class="footer-nav">
            <ul>
                <li><a href="https://x.com/arufo_E217" target="_blank" rel="noopener">Twitter</a></li>
                <li><a href="#">YouTube</a></li>
            </ul>
        </nav>
    </div>
</footer>