<header class="headerNavigationMenu">
    <div class="header-inner">
        <h1 class="logo"><a href={`${import.meta.env.BASE_URL}/`}>Aruphy.K</a></h1>
        <nav class="header-nav">
            <ul>
                <li><a href={`${import.meta.env.BASE_URL}/`}>Top</a></li>
                <li><a href={`${import.meta.env.BASE_URL}/diary`}>日記</a></li>
                <li>ゲーム</li>
            </ul>
        </nav>
    </div>
</header>